*{
     padding: 0px;
     margin: 0px;
}
.section1{
     display: flex;
     background: black;
     
}
.section1 nav form{
     padding-left: 400px;
     
}
.section nav{
     padding-right: 0px;
     
}
header{
     background-color: black;
     height: 70px;
}
a{
     text-decoration: solid;   
     padding: 25px;
}
.form-control{
     float: right;
}
.text{
     background-color: rgb(33, 151, 181);
     height: 350px;
     text-align: center;
     padding-top: 5px;
}
.button1{
     padding: 5px 10px;
     border: none;
     border-radius: 1ch;
     background-color: rgb(247, 215, 35);

}
.button2{
     padding: 5px 10px;
     border: none;
     border-radius: 1ch;
     background-color: rgb(236, 34, 34);
}
.svg-inline--fa {
     display: inline-block;
     font-size: inherit;
     height: 1em;
     overflow: visible;
     vertical-align: -.125em

 }
 .section1 .fa-sharp{
     font-size: 40px;
     margin-left: -50px;
     
 }
 footer{
     background: rgb(138, 134, 134);
     justify-content: center;
     align-items: center;
     padding: 80px;
     color: white;
     text-align: center;
     
     
 }
 footer h2{
align-items: center;
justify-content: center;

 }

 .AA svg{
     font-size: 100px;
     
 }
  .section .p-5{
     display: flex;
 }   
     

    
     
 
 
 
 
  
  @media screen and (max-width: 600px){
      .section1{
           
      }
  }
  @media screen and (max-width: 600px){
     .section1{
      flex-wrap: wrap;    
      width: 10%;
      padding: 20px;
     }
     .section1 nav form{
      width: 10%;
      padding: 20px;
      flex-wrap: wrap;
      }
     
      
     }
     header{
      width: 10px;
      flex-wrap: wrap;
     }
 